/* DE SELECTOR */
/* Elimino margenes por defecto en la pagina */
*{margin: 0; padding:0; box-sizing: border-box;}

/* Seteo el tamaño y tipo de fuente  */
html{
    font-size: 62.5%;
    font-family: 'Courier New', Courier, monospace;
}

body{
    background-image: linear-gradient(to top, rgb(97, 26, 26), rgb(216, 60, 60));
}

/* _____________BOOTSTRAP PARA PAGINA 1 MUESTRA INDEX _______________________*/
/* A TRABAJAR CON BOOTSTRAP ._. */


header{
    background-color: rgb(0, 0, 0);
    grid-area: encabezado;
    height: 6vh;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    color: white;
}

nav{
    background-color: rgb(135, 56, 56);
    grid-area: nav;
    height: 4vh;
    border: solid 1px;
    display: flex;
}

main {justify-content: center;}

#Muestra{
    background-color: orange;
    height: 90vh;
    display: flex;
}

#Postales{
    display: flex;
}

#Rurales{
    background-color: rgb(0, 0, 0);
}
    
#TarjetaA1a{
    text-align: left;
    display: flex;
}

#TarjetaA1b{text-align: right;
    display: flex;
}

#Bosques{
    background-color: rgb(0, 0, 0);
    grid-area: tematicaA2;
}
#TarjetaA2a{text-align: left;
    display: flex;
}
#TarjetaA2b{text-align: right;
    display: flex;
}

#NatMuerta{
    grid-area: tematicaB;
    display: flex;
}

#Flores{
    background-color: rgb(0, 0, 0);
    grid-area: tematicaB1;
}
#TarjetaB2a{text-align: left;
    display: flex;
}
#TarjetaB2b{text-align: right;
    display: flex;
}

#Alimentos{
    background-color: rgb(0, 0, 0);
    grid-area: tematicaB2;
}
#TarjetaB2a{text-align: left;
    display: flex;
}
#TarjetaB2b{text-align: right;
    display: flex;
}

#Abstractos{
    grid-area: tematicaC;
    display: flex;
}
#Musica{
    background-color: rgb(0, 0, 0);
    grid-area: tematicaC1;
}
#TarjetaC2a{text-align: left;
    display: block;
}
#TarjetaC2b{text-align: right;
    display: block;
}
#footer {
    border: solid;
    background-color: rgb(221, 129, 2);
    height: auto;
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 200px;
}


/* ____________GENERALES_______________________________________ */

/* COLLAGE PRINCIPAL Y TEMATICAS */
main section div {
    display: block;
    height: 90vh;
    width: 90%;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: blue;
}

section{
    height: 97vh;
    width: auto;
    background-color: white;
    border: solid 1px black;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    padding-top: 15px;
    padding-bottom: 15px;
    margin-bottom: 3vh;
}
.eslogan{font-style: italic;}

/* CONTENEDOR DE LA IMAGEN DE LAS TEMATICAS*/
.imagenTema {
    height: auto;
    border:solid 1px black;
    background-color: rgb(0, 0, 0);
    display:block;
    justify-content: center;
    align-items: center;
    flex-wrap: nowrap;
    background-color: rgb(1, 1, 1);
}

.descripcionTematica{
    display: flex;
    flex-direction: column;
    height: 20%;
    width: 90%;
    color:red;
    text-align: center;
    border: solid 1px black;
    padding: 50px;
    background-color: white;
    font-size: medium;
    justify-content: space-around;
}



h2 { color: white;
    background-color: black;
    display: block;
    height: 3vh;
    font-size: medium;
    margin-bottom: 3vh;
    align-items: center;
}

/* ________________________TARJETAS DE CUADROS*/
article{
    /* width: auto; */
    height: 44vh;
    border: solid 1px black;
    background-color: white;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    /* height: 42vh; */
    color:red;
    text-align: center;
    margin-bottom: 3vh;
    padding: 10px 50px 10px 50px;
}

/* IMAGEN DE LAS TARJETAS*/
article img{
    border-radius: 10px;
    transition: all 3s;
}
article img:hover {
    height: 300px;
    width: 500px;
    background-color: white;
}

article div h3{padding: 3%;
font-size: 4vh;}

article div p{padding: 3%;
    font-size: 1.5vh;
}


/* ____________________PARTICULARES___ */
/* NAV horizontal y desplegable */
ul {
    list-style: none;
    font-size: 0;
}
li {
    display: inline-block;
    width: 150px;
    position: relative;
    left: 700px;
    font-size: 14px;
}
ul ul {
    position: absolute;
    right: 700px;
    display: none;
    line-height: 40px;
}

ul ul li {
    display: block;
    text-align: left;
    border: solid 1px;
}

ul ul ul li  {
    display: inline-block;
    text-align: left;
    position: absolute;
    margin-left: 700px;
    border: solid 1px;
    color: blue;
}

ul li:hover ul{
    display: block;
    text-align: right;
}

/* le quito la viñeta a la lista */
ul {list-style-type: none;}

#rural1 {display: inline-block;}
#rural2 {
    display: inline-block;
    position: relative;
    right: 5px;
}
#flores1 {display: inline-block;}

#flores2 {
    display: inline-block;
    position: relative;
    right: 5px;
}

#alimentos1 {
    display: inline-block;
}

#alimentos2 {
    display: inline-block;
    position: relative;
    right: 5px;
}

#abstracto1 {display: inline-block;}

#abstracto2 {
    display: inline-block;
    position: relative;
    right: 5px;
}

#redes{
    height: auto;
    width: 50vw;
}
.textoNaranja{color:orange;}




/* _______GRID PARA PAGINA 3 "PARTICIPACIONES"____________________________________ */


#Participaciones{
    background-color: orange;
    grid-area: collage2;
    height: 90vh;
    width: auto;
    display: flex;
}

#Exposiciones{
    grid-area: expocisiones;
    display: flex;
    width: auto;
}
.exposiciones{grid-area:expocisiones;}

#TarjetaD{grid-area: tarjetaD;
    display: block;}
#TarjetaE{grid-area: tarjetaE;
    display: block;
}

#Resenas{
    grid-area: Resenas;
    display: flex;
    width: auto;
}

#TarjetaF{grid-area: tarjetaF;
    display: inline-block;
    width: 40%;
}
#TarjetaG{grid-area: tarjetaG;
    display: inline-block;
    width: 40%;
}
#TarjetaH{grid-area: tarjetaH;
    display: inline-block;
    width: 40%;
}
#TarjetaI{grid-area: tarjetaI;
    display: inline-block;
    width: 40%;
}

.resennas{
    width: auto;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    font-style: italic;
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(255, 255, 255);
    background-color: rgb(215, 139, 98);
    text-align: center;
}



#Tour{
    grid-area: Tour;
    display: flex;
    flex-direction: row;
    width: auto;
    align-items: center;
}
.tour{
    display: flex;
    grid-area: tour;
    background-color: white;
    border: solid 1px black;
    justify-content: center;
    text-align: center;
    font-size: 3rem;
    width: auto;
    margin-left: 10vw;
    margin-right: 10vw;
}

#Contacto{grid-area: contacto;}
#Formulario{
    width: auto;
    grid-area: formulario;
    display: flex;
    flex-direction: row;
    margin-left: 10vw;
    margin-right: 10vw;
}


.contacto{
    display: flex;
    flex-direction: row;
    grid-area: contacto;
    background-color: white;
    border: solid 1px black;
    padding: 10px;
    width: auto;
    font-size: 1.5rem;
}

.formulario{
    border: solid 1px black;
    position: relative;
    text-align: center;
    display: inline-block;
}     

#ellaPerfil{box-sizing: border-box;
height: 300px;}